body{
    font-family: 'Roboto Mono';
}

h1{
   font-family: 'Chelsea Market'; 
}

span{
    font-weight: bold;
}

nav{
    margin:2% 10%;

}
nav a{
display: inline-block;
margin:0 10%;
text-decoration: none;
color: white;
border-radius: 10px;
padding: 1%;
width:12%;
text-align: center;
}
nav .aOne{
background-color: #FF764E;
}
nav .aTwo{
    background-color: #5ED3EB;
}
nav .aThree{
    background-color: #FFCD69;
}


/*  */

#photoNtext{
}

.topPhoto img{
    border-radius: 50%;
    display:inline-block;
    height:30%;
    width:30%;
    margin:0 2%;
    float:left;
}




.history{
    background-color: #DDB9A3;
}


footer{
    background-color: #F9E7DC;
}